@import "~antd/dist/antd.less";

@primary-color: #5ece7b;
@layout-header-background: #fff;

.ant-card.ant-card-hoverable {
  border-radius: 10px;
  overflow: hidden;
  border: 0;
}


@media (min-width: 1200px) {
  .pdp-content {
    margin-left: 15% !important;
    margin-right: 15% !important;

    .ant-col {
      padding: 5px !important;
    }
  }

  .cart-container {
    margin: 5px 15% 5px 15% !important;
  }
}

@media (min-width: 576px) {
  .minicart {
    width: 500px;
  }
  .cart-container {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .minicart {
    width: 400px;
  }
}

.cart-trigger {
  height: 43px;
}


.pdp-product-image-carousel {

  .ant-card-cover {
    display: block;

    .ant-image {
      display: block
    }
  }

  .ant-card-body {
    display: none;
  }
}

.ant-layout-header {
  display: flex;
  flex-direction: row;

  div {
    display: flex;
    flex: 1;
  }

  .header-right {
    justify-content: flex-end;
    padding-top: 15px;

    button {
      margin-left: 10px;
    }

    .cart-button {
      display: inline-block;
      float: right;

      span {
        margin-left: 10px;
      }
    }
  }
}


.ant-popconfirm {
  z-index: 1100;
}

.ant-card-cover {
  .ant-skeleton-element {
    width: 100%
  }
}